<launch>
    <arg name="ds" default="tree2"/>
    <node pkg="VIORB" type="stereo" name="VIORB"
          args="$(find VIORB)/../../../Vocabulary/ORBvoc.txt $(find VIORB)/config/stereo_vi/thesis/$(arg ds).yaml"
          cwd="node" output="screen">
        <param name="realtime_mode" value="false"/>
        <param name="sensor_type" value="STEREO"/>
    </node>
   

</launch>
